@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid #1b62e5;
    padding: 10px;
    background: rgb(222, 24, 143);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: rgb(77, 153, 223);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #6f0606;
}

input::placeholder {
    color: #eef437;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: rgb(20, 107, 183);
    color: rgb(247, 191, 86);
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn {
    background-color: #6dcff6;
    color: rgb(147, 11, 11);
}

.operator {
    color: #0b6e18;
}

.clear {
    color: rgb(201, 21, 229);
}